<link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Tektur:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
body{
        font-family: "comic sans";
    }

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mobile-nav {
    display: none;
}

.nav-bar {
    position: absolute;
    z-index: 2;
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 10vh;
    background-color: rgba(0, 255, 255, 0.3);
}

li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
}



.container {
    position: relative;
    height: 100vh;
    overflow: hidden;    
}

.image-container {
    position: relative;
    background-image: url(/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0vh;
    animation: scale 8s;
}
@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(14, 14, 14, 0.5);
    z-index: 1;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 20px;
    color: aliceblue;
    text-transform: uppercase;
    z-index: 2;
}

.firstword {
    color: rgb(231, 45, 227);
    font-size: 80px;
    text-shadow: 2px 2px 10px #ff0cfb;
    font-weight: bold;
}
.secondword {
    display: flex;
    justify-content: center;
    color: cyan;
    font-size: 40px;
    text-shadow: 2px 2px 10px #59c3f0;
    font-weight: bold;
}

.resume-cta {
    border: 2px solid rgb(255, 0, 238);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ff00dd;
    width: 160px;
    padding: 20px;
    margin-top: 30px;
}

.resume-text {
    color: rgb(108, 245, 255);
    font-weight: bold;
    font-size: 20px;
}

.resume-cta:hover {
    background-color: rgba(49, 138, 160, 0.5);
}
.project-container {
    width: 100%;
    height: auto;   
    background-image: url(\project.png); 
}

.project-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
}
p{
    text-align: center;
    font-size: x-large;
}
.office-project {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-image: url(/git.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.text-container {
    position: absolute;
    height: 75px;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: rgb(86, 86, 86);
    overflow: hidden;
}

.text-container:hover{
    height:250px;
}

.name {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 0px;
    text-align: center;
}
.content {
    padding: 20px 0;
    margin-left: 20px;
}

.button {
    border: 5px solid rgb(0, 75, 110);
    border-radius: 10px;
    width: 160px;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 150px;
    margin-left: 125px;
    justify-content: center;
}

.button:hover {
    background-color: rgba(62, 215, 253, 0.2);
}
.about-container {
    margin: 10%;
    width: 80%;
    height: auto;
    background-color: rgb(63, 63, 63);
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
}

.about-section {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-image {
    height: 450px;
    width: 400px;
    background-image: url(about.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    border-radius: 40px;
    box-shadow: -15px 7px 30px rgba(62, 62, 62, 0.2);
}
.about-text {
    height: auto;
    color: antiquewhite;
    width: 40%;
    font-size: 1.5rem;
    margin: 100px;
    margin-right: -20px;
    justify-content: center;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 30%;
    margin: 25% 35%;
    padding-top: 30px;
}


.education-container {
    width: 100%;
    height: auto;   
    background-image: url(/project.png); 
}

.education-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: antiquewhite;
}

.education {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
}

.school {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-image: url(school.jpg);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.uni {
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-image: url(uni.webp);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.cont{
    width: 400px;
    height: 400px;
    background-color: white;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-image: url(/contact.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.cont-container {
    width: 100%;
    height: auto;   
    background-image: url(project.png); 
}

.cont-header {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    
}